<h1>Панель администратора</h1>

<%= render "sidemenu" %>

<%= link_to 'Новая статья', newmagazine_posts_path %>
<%= link_to 'Добавить тренировку', newsport_posts_path %> %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Title</th>
      <!-- <th>Content</th> -->
      <th>Category</th>
      <th>Date</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
        <td><%= post.image %></td>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td>
          <% if post.category_id? %>
            <span>
              <%= post.category.name %>
            </span>
          <% end %>
        </td>
        <td><span><%= post.created_at.mday %>.<%= post.created_at.month %>.<%= post.created_at.year %></span></td>

        <!-- error with html_safe after I added media form -->
        <!-- <td><%#= post.content.html_safe %></td> -->

        <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><#%= post.comments.count %> <#%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%></td>
        <td><%= link_to '👀', post %></td>
        <td><%= link_to '🛠', edit_post_path(post) %></td>
        <td><%= link_to '🗑', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
