<h1>Панель администратора</h1>

<div class="">
  <%= link_to "Публикации", admin_path %>
  <%= link_to "Люди", users_path %>
  <%= link_to "Категории", categories_path %>
</div>

<%= link_to 'Новая статья', newarticle_posts_path %>
<%= link_to 'Создать медиаконтент', newmedia_posts_path %>
<%= link_to 'Добавить тренировку', newtraining_posts_path %>
<%= link_to 'Добавить тренировку', newtraining_posts_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Title</th>
      <!-- <th>Content</th> -->
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
        <td><%= post.image %></td>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.category.name %></td>
        <td><%#= post.content.html_safe %></td>
        <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%></td>
        <td><%= link_to '👀', post %></td>
        <td><%= link_to '🛠', edit_post_path(post) %></td>
        <td><%= link_to '🗑', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
