<% unless coment.parent_id || !coment.persisted? %>
  <div class="card">
    <div class="all-coments">
        <div class="coment-line">
          <% if coment.user_id %>
            <%= react_component 'A_Avatar', { user: coment.user }, class: 'avatar--default-small'%>
            <%#= image_tag(coment.user.image.small_thumb.url, alt: 'Image') if coment.user.image? %>
          <% end %>

          <h3 class="A_H5 A_H5--black">
            <%= User.find(coment.user_id).username %>
          </h3>
          <!-- <h5 class="A_H5 A_H5--black">
            <%#= coment.created_at %>
          </h5> -->

        </div>

    <div class="coment-body">
      <p class="textblock text--subbody">
        <%= coment.body %>
      </p>
    </div>

  <div class="coment-actions">
    <div class="coment-reply-link">
      <%= link_to 'Ответить', new_post_coment_path(@post, parent_id: coment.id), remote: true, class: 'd-block' %>
    </div>

    <div class="coment-reply-link">
      <% if user_signed_in? && current_user.id == coment.user_id  %>
       <%= link_to 'Удалить', coment, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить комментарий?' } %>
       <% end %>
    </div>
  </div>

    </div>
  </div>

  <div class="all-coments-replies">
    <% if coment.replies.any? %>
      <% coment.replies.each do |reply| %>
        <%= render partial: 'coments/reply', locals: { reply: reply } %>
      <% end %>
    <% end %>
    <div id="reply-form-<%= coment.id %>"></div>
  </div>

<% end %>
