<div class="user-edit-page">

  <div class="user-edit-form">
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="user-edit-form-inner">
        <div class="user-edit-sidebar">
          <%= react_component 'M_SideProfileMenu', {user: @user} %>
        </div>
        <%= form_for @user, method: :put do |f|%>
            <div class="user-edit-avatar">
              <%= image_tag(@user.image.url, alt: 'Ваша фотография') if @user.image? %>
              <div class="user-edit-upload-pic">
                <%= f.label :image %>
                <%= f.file_field :image %>
              </div>
            </div>
            <%= react_component 'M_UserEdit', {user: @user} %>
            <div class="user-edit-second-btn">
              <%= f.submit "Сохранить", class: 'btn btn--main' %>
              <%= link_to 'Назад', @user %>
            </div>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.isadmin == true %>
      <%= form_with model: @user do |f| %>
        <h1>Изменить роль</h1>
        <span>E-mail</span><%= link_to @user.email, @user %>
        <span>Username</span><span><%= link_to @user.username, @user %></span>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post_type from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if signed_in? %>
          <% if current_user.isadmin? %>
            <h3> Администратор
            <%= f.check_box :isadmin %></h3>
          <% end %>
        <% end %>
        <% if signed_in? %>
          <% if current_user.isadmin? %>
            <h3> Автор
            <%= f.check_box :isauthor %></h3>
          <% end %>
        <% end %>
        <div class="actions">
          <%= f.submit "Да"%>
        </div>
      <% end %>
    <% end %>
  <div>


  <!-- <div class="details tab-content">
    <!-- <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <h2>Редактировать профиль</h2>
      <p>Эту информацию  можно увидеть в вашем профиле</p>
      <%#= form_with model: current_user, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
        <!-- <div>
          <%#= image_tag(@user.image.url, alt: 'Image') if @user.image? %>
          <%#= f.label :image %>
          <%#= f.file_field :image %>
        </div>
        <div class="">
          <%#= f.label "Имя пользователя"%>
          <%#= f.text_field :username%>
        </div>
        <div class="">
          <%#= f.label "Сведения о вашем профиле"%>
          <div class="">
            <%#= f.text_area :bio, class: 'form-control' %>
          </div>
        </div> -->

        <!-- <h3>Контакты</h3>
        <p>Добавьте ссылку на любую соц. сеть, чтобы продолжить общение за пределами сервиса</p>
        <div class="">
          <%#= f.label "Instagram"%>
          <div class="col-sm-9">
            <%#= f.text_field :inst%>
          </div>
        </div>
        <div class="">
          <%#= f.label "Telegarm"%>
          <div class="col-sm-9">
            <%#= f.text_field :tg%>
          </div>
        </div>
        <div class="">
          <%#= f.label "Facebook"%>
          <div class="col-sm-9">
            <%#= f.text_field :fb%>
          </div>
        </div> -->

        <!-- <div class="">
          <%#= f.submit "Submit", class: 'btn btn-primary' %>
        </div> -->
      <%# end %>

    <!-- </div>  -->
  <!-- </div>  -->
</div>
