<div class="user-edit-page">

  <div class="user-edit-form">
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="user-edit-form-inner">
        <div class="user-edit-sidebar">
          <%#= react_component 'M_SideProfileMenu', {user: @user} %>
          <div class="profile-sidebar">
            <%= link_to 'Настройки аккаунта', edit_user_registration_path %>
            <a class="nav-link" data-toggle="pill">Политика конфиденциальности</a>
          </div>
        </div>
        <%= form_for @user, method: :put do |f|%>
            <div class="user-edit-avatar">
              <%= image_tag(@user.image.url, alt: 'Ваша фотография') if @user.image? %>
              <div class="user-edit-upload-pic">
                <%= f.label :image %>
                <%= f.file_field :image %>
              </div>
            </div>
            <%= react_component 'M_UserEdit', {user: @user} %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.isadmin == true %>
    <div class="O_AdminUsersForm">
      <div class="O_AdminUsersForm--main">
        <%= form_with model: @user do |f| %>
          <h2 class="A_H2">Изменить роль</h2>
          <span class="A_H4"><%= link_to @user.username, @user %></span>
          <span class="A_H4"><%= link_to @user.email, @user %></span>

          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post_type from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="O_AdminUsersForm--check">
            <% if signed_in? %>
              <% if current_user.isadmin? %>
                <div class="text--subbody check"> Автор
                <%= f.check_box :isauthor %></div>
              <% end %>
            <% end %>
            <% if signed_in? %>
              <% if current_user.isadmin? %>
                <div class="text--subbody"> Администратор
                <%= f.check_box :isadmin %></div>
              <% end %>
            <% end %>
          </div>
          <div>
            <%= f.submit "Изменить роль", class: "btn btn--main"%>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  <div>
