<%#= react_component 'A_Avatar', { user: @user } %>
<div class="profile-wrapper">
  <%= react_component 'M_Profile', { user: @user} %>

  <div class="profile-follows">
    <p>Подписчики <%= @user.followers.count %></p>
    <p>Подписки <%= @user.followees.count %></p>
    <!-- <p>Подписки <%#= link_to @user.followees.count, following_path %></p> -->
  </div>

  <div class="profile-button">
    <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: ' btn btn--main' %>
    <% elsif user_signed_in? && current_user.followees.include?(@user) %>
        <%= button_to "Отписаться", unfollow_user_path, method: "POST", class: ' btn btn--main' %>
    <% elsif user_signed_in? %>
        <%= button_to "Подписаться", follow_user_path, method: "POST", class: 'btn btn--main' %>
    <% end %>
    <br>
    <br>
  </div>

  <div class="profile-posts">
    Сохраненные публикации <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Post' : 'Posts'%>
    <%# @posts.each do |post| %>
      <br><%#= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %>
      <br><%#= link_to post.title, post %>
    <%# end %>
    <%= react_component 'O_Posts_Preview', { posts: @posts, post: @post } %>

    <div class="user-posts">
      <h1>Мои публикации</h1>
      <span><%=@user.posts.count  %></span> публикации
      <% @user.posts.each do |post|%>
          <%=link_to post_path(post) do %>
              <%= link_to post.title, post %>
              <%= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %>
           <% end %>
      <% end %>
    </div>
  </div>
</div>
