<%#= react_component 'A_Avatar', { user: @user } %>
<div class="profile-wrapper">
  <%= react_component 'O_Profile', { user: @user} %>

  <!-- <div class="profile-follows">
    <p>Подписчики <%#= @user.followers.count %></p>
    <p>Подписки <%#= @user.followees.count %></p>
  </div> -->

  <!-- <div class="profile-button">
    <%# if user_signed_in? && @user.id == current_user.id %>
        <%#= link_to 'Стать автором', edit_user_path(current_user), class: ' btn btn--main' %>
    <%# end %>
  </div> -->

  <div class="profile-posts">
    <% if user_signed_in? && current_user.isauthor == true%>
      <%= link_to "Новая публикация", newmagazine_posts_path  %>
    <% end %>

    Сохраненные публикации <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Post' : 'Posts'%>
    <%# @posts.each do |post| %>
      <br><%#= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %>
      <br><%#= link_to post.title, post %>
    <%# end %>
    <%= react_component 'O_Posts_Preview', { posts: @posts, post: @post } %>

    <div class="user-posts">
      <h1>Мои публикации</h1>
      <span><%=@user.posts.count%></span> публикации
      <% @user.posts.each do |post|%>
          <%=link_to post_path(post) do %>
              <%= link_to post.title, post %>
              <%= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %>
           <% end %>
      <% end %>
    </div>
  </div>
</div>
