<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= react_component 'O_SchoolForm', { school: @school, cities: @cities} %>

  <div>
    <%= form.label "Выбрать обложку"%>
    <%= form.file_field :image %>
  </div>

  <h2>Базовая информация</h2>
  <div class="field">
    <%= form.label "Название школы" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label "Краткое описание школы" %>
    <%= form.text_area :description %>
  </div>

  <h2>Местоположение</h2>
  <div class="field">
    <%= form.label "Город" %>
    <%= form.select :city_id, City.pluck(:name, :id) %>
  </div>
  <div class="field">
    <%= form.label "Долгота" %>
    <%= form.text_field :longitude %>
  </div>
  <div class="field">
    <%= form.label "Широта" %>
    <%= form.text_field :latitude %>
  </div>

  <h2>Услуги</h2>
  <div class="field">
    <%= form.label "Предлагаемые услуги" %>
    <%= form.cktext_area :service, placeholder: "Индивидуальная тренировка, групповая" %>
  </div>
  <div class="field">
    <%= form.label "Минимальная цена за услуги" %>
    <%= form.text_field :price, placeholder: "от 3600р" %>
  </div>


  <h2>Сведения о лучшем сезоне</h2>
  <div class="field">
    <%= form.label "Когда лучше кататься" %>
    <%= form.text_field :season %>
  </div>
  <div class="field">
    <%= form.label "Температура воздуха" %>
    <%= form.text_field :wind %>
  </div>
  <div class="field">
    <%= form.label "Температура воды" %>
    <%= form.text_field :water %>
  </div>
  <div class="field">
    <%= form.label "Толщина гидрика" %>
    <%= form.text_field :wetsuit %>
  </div>



  <h2>Удобства</h2>
  <div class="field" style="display: flex;">
    <%= form.check_box :room %>
    <%= form.label "Раздевалки" %>
  </div>
  <div class="field" style="display: flex;">
    <%= form.check_box :shower %>
    <%= form.label "Душевая" %>
  </div>
  <div class="field" style="display: flex;">
    <%= form.check_box :equip %>
    <%= form.label "Оборудование" %>
  </div>
  <div class="field" style="display: flex;">
    <%= form.check_box :cafe %>
    <%= form.label "Кафе по близости" %>
  </div>
  <div class="field" style="display: flex;">
    <%= form.check_box :shop %>
    <%= form.label "Магазины рядом" %>
  </div>
  <div class="field" style="display: flex;">
    <%= form.check_box :car %>
    <%= form.label "Легко доехать" %>
  </div>


  <h2>Фотогалерея</h2>

  <h2>Контакты</h2>
  <div class="field">
    <%= form.label "Почта" %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label "Телефон" %>
    <%= form.telephone_field :tel %>
  </div>
  <div class="field">
    <%= form.label "Инстаграм" %>
    <%= form.text_field :inst %>
  </div>
  <div class="field">
    <%= form.label "Телеграм" %>
    <%= form.text_field :tg %>
  </div>
  <div class="field">
    <%= form.label "Facebook" %>
    <%= form.text_field :fb %>
  </div>
  <div class="field">
    <%= form.label "Сайт школы" %>
    <%= form.text_field :website %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
