<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Выбрать обложку"%>
    <%= form.file_field :image %>
  </div>

  <h2>Базовая информация</h2>
  <div class="field">
    <%= form.label "Название школы" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label "Краткое описание школы" %>
    <%= form.text_area :description %>
  </div>

  <h2>Местоположение</h2>
  <div class="field">
    <%= form.label "Город" %>
    <%= form.select :city_id, City.pluck(:name, :id) %>
  </div>
  <div class="field">
    <%= form.label "Долгота" %>
    <%= form.text_field :longitude %>
  </div>
  <div class="field">
    <%= form.label "Широта" %>
    <%= form.text_field :latitude %>
  </div>

  <h2>Услуги</h2>
  <div class="" style="display: flex;">
    <div class="field">
      <%= form.label "Название услуги" %>
      <%= form.text_field :service, placeholder: "Например, индивидуальная тренировка" %>
    </div>
    <div class="field">
      <%= form.label "Цена" %>
      <%= form.text_field :price, placeholder: "Например, от 3600р" %>
    </div>
  </div>


  <h2>Средние значения по географии</h2>

  <h2>Удобства</h2>

  <h2>Фотогалерея</h2>



  <h2>Контакты</h2>
  <div class="field">
    <%= form.label "Почта" %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label "Телефон" %>
    <%= form.telephone_field :tel %>
  </div>
  <div class="field">
    <%= form.label "Инстаграм" %>
    <%= form.text_field :inst %>
  </div>
  <div class="field">
    <%= form.label "Телеграмм" %>
    <%= form.text_field :tg %>
  </div>
  <div class="field">
    <%= form.label "Facebook" %>
    <%= form.text_field :fb %>
  </div>
  <div class="field">
    <%= form.label "Сайт школы" %>
    <%= form.text_field :website %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
