<p id="notice"><%= notice %></p>
<% set_meta_tags title: 'Школы', description: 'Серфшколы России'%>
<% set_meta_tags og: {
    title: ['Школы']
}  %>


<div class="school-page">
	<div class="school-page_item">
		<%= react_component 'M_SchoolFound', {school: @school, schools: @schools, city: @city, cities: @cities} %>
		<div class="school-page_item-left">
			<div class="surftype__block">
				<h5 class="A_H5">Выбрать вид серфа</h5>
				<div class="surftype__block__select">
					<% Surftype.all.each do |st| %>
						<%= link_to st.name, request.params.merge(surftype: st.id), :class => "surftype--text" %>
					<% end %>
				</div>
			</div>
			<%= react_component 'M_SchoolPreview', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
      <%= react_component 'M_SchoolMore' %>
		</div>
      <%= react_component 'O_FooterSmall' %>
	</div>
	<div class="school-page_item school-page_item-map">
			<%= react_component 'M_MainMap', {school: @school, schools: @schools} %>
	</div>
</div>


<%= react_component 'M_CityOne' %>

<%#= link_to 'New City', new_city_path %>
<%#= link_to 'New School', new_school_path %>
