<p id="notice"><%= notice %></p>

<div class="">
	<p><%#= @city.school.count %>
		<%#= (@city.school.count ) == 1 ? 'Школа' : 'Школ'%>
	</p>
</div>

<div class="school-page">
	<div class="school-page_item">
		<%= react_component 'M_SchoolFound', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
		<div class="school-page_item-left">
			<div class="surftype__block">
				<h5 class="A_H5">Выбрать вид серфа</h5>
				<div class="surftype__block__select">
					<%#= link_to 'all', schools_path, :class => "surftype--text" %>
					<% Surftype.all.each do |st| %>
						<%= link_to st.name, request.params.merge(surftype: st.id), :class => "surftype--text" %>
					<% end %>
				</div>
			</div>
			<%= react_component 'M_SchoolPreview', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
		</div>

	</div>
	<div class="school-page_item">
			<%= react_component 'M_Map', {school: @school, schools: @schools } %>
	</div>
</div>




<%#= link_to 'New City', new_city_path %>
<%#= link_to 'New School', new_school_path %>
