<p id="notice"><%= notice %></p>

<div class="">
	Серфшколы в <%#= @city.name %>
</div>

<div class="">
	<p><%#= @city.school.count %>
		<%#= (@city.school.count ) == 1 ? 'Школа' : 'Школ'%>
	</p>
</div>




<% Surftype.all.each do |st| %>
<%= link_to st.name, request.params.merge(surftype: st.id)  %> |
<% end %>|


 <div class="">
	<% @schools.each do |school| %>
	 <div class="">
		 <div>
				<%= link_to(image_tag(school.image.thumb.url, alt: 'Image'), school.image.url, target: '_blank') if school.image? %>
		 </div>
		 <div><%= school.name %></div>
		 <div><%= school.city_id %></div>
		 <div>
			 <%= school.surftype.name %>
		 </div>
		 <div>
			 <% if school.room == true %>
				 <p>Раздевалки</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.shower == true %>
				 <p>Душевая</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.equip == true %>
				 <p>Оборудование</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.cafe == true %>
				 <p>Кафе по близости</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.shop == true %>
				 <p>Магазины рядом</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.car == true %>
				 <p>Легко доехать</p>
			 <% end %>
		 </div>
		 <div>Тренировки от <%= school.price %></div>
		 <div><%= link_to 'Show', school %></div>
		 <div><%= link_to 'Edit', edit_school_path(school) %></div>
		 <div><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	 </div>
	<% end %>
</div>




<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @schools.each do |school| %>
      <tr>
				<td>
					 <#%= link_to(image_tag(school.image.thumb.url, alt: 'Image'), school.image.url, target: '_blank') if school.image? %>
				</td>
        <td><#%= school.name %></td>
        <td><#%= school.description %></td>
        <td><#%= school.longitude %></td>
        <td><#%= school.latitude %></td>
        <td><#%= school.city.name %></td>
        <td><#%= link_to 'Show', school %></td>
        <td><#%= link_to 'Edit', edit_school_path(school) %></td>
        <td><#%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <#% end %>
  </tbody>
</table> -->

<br>


<%= react_component 'M_SchoolSelectType', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
<%= react_component 'O_Schools', { schools: @schools, school: @school } %>

<%= link_to 'New City', new_city_path %>
<%= link_to 'New School', new_school_path %>
