
<%= react_component 'O_SchoolMainPage'%>
<%= link_to 'schoolsCities', schoolsCities_path(@school) %>
<% City.all.each do |city| %>
  <%= link_to city.name, schools_path(city: city.name) %>
<% end %>

<div class="" style="display:flex;">
	<% @schools.each do |school| %>
	 <div class="">
		 <div>
				<%= link_to(image_tag(school.image.thumb.url, alt: 'Image'), school.image.url, target: '_blank') if school.image? %>
		 </div>
		 <div><%= school.name %></div>
		 <div>
			 <% if school.room == true %>
				 <p>Раздевалки</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.shower == true %>
				 <p>Душевая</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.equip == true %>
				 <p>Оборудование</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.cafe == true %>
				 <p>Кафе по близости</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.shop == true %>
				 <p>Магазины рядом</p>
			 <% end %>
		 </div>
		 <div>
			 <% if school.car == true %>
				 <p>Легко доехать</p>
			 <% end %>
		 </div>
		 <div>Тренировки от <%= school.price %></div>
		 <div><%= link_to 'Show', school %></div>
		 <div><%= link_to 'Edit', edit_school_path(school) %></div>
		 <div><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	 </div>
	<% end %>
</div>

<%= react_component 'M_BlockMore'%>

<%= react_component 'M_SchoolPreview', { schools: @schools, school: @school } %>
