
<%= react_component 'M_SchoolBanner'%>
<%= react_component 'O_PopularCities', {cities: @cities, city: @city, school: @school, schools: @schools } %>
<%= react_component 'M_SchoolPreviewSmall', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
<%= react_component 'M_BlockMore'%>
<%= react_component 'O_Posts_Ending', { posts: @posts, post: @post, categories: @categories, category: @category } %>


<!-- <div class="" style="display:flex;">
	<% @schools.each do |school| %>
	 <div class="">
		 <div>
				<%#= link_to(image_tag(school.image.thumb.url, alt: 'Image'), school.image.url, target: '_blank') if school.image? %>
		 </div>
		 <div><%#= school.name %></div>
     <div><%#= school.city.name %></div>
		 <div>
			 <% if school.room == true %>
				 <p>Раздевалки</p>
			 <% end %>
		 <div>Тренировки от <%= school.price %></div>
		 <div><%#= link_to 'Show', school %></div>
		 <div><%#= link_to 'Edit', edit_school_path(school) %></div>
		 <div><%#= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	 </div>
	<% end %>
</div> -->
