<p id="notice"><%= notice %></p>

<% set_meta_tags title: @school.name, description: @school.city.name %>

<%= react_component 'O_SchoolView', { school: @school} %>
<%= react_component 'M_SchoolPreviewSmall', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
<%= react_component 'O_PostsEnding', { posts: @posts, post: @post, categories: @categories, category: @category } %>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
