<p id="notice"><%= notice %></p>

<%= image_tag(@school.image.url, alt: 'Image') if @school.image? %>

<p>
  <%= @school.name %>
</p>

<div>
  <%= @school.description.html_safe %>
</div>

<div class="">
  <%= react_component 'M_MainMap' %>
  <p>
    <strong>Longitude:</strong>
    <%= @school.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @school.latitude %>
  </p>
</div>

<div class="">
  <h3>Примеры услуг</h3>
  <div>
    <%= @school.service.html_safe %>
  </div>

  <h3>Минимальная стоимость тренировки</h3>
  <div>
    <%= @school.price %>
  </div>
</div>

<div class="">
  <h3>Сведения о лучшем сезоне</h3>
  <div>
    <span>Сезон</span>
    <%= @school.season %>
  </div>
  <div>
    <span>Температура воздуха</span>
    <%= @school.wind %>
  </div>
  <div>
    <span>Температура воды летом</span>
    <%= @school.water %>
  </div>
  <div>
    <span>Толщина гидрика</span>
    <%= @school.wetsuit %>
  </div>
</div>


<div class="">
  <h3>Контакты</h3>
  <p>
    <strong>Email:</strong>
    <%= @school.email %>
  </p>
  <p>
    <strong>Tel:</strong>
    <%= @school.tel %>
  </p>
  <p>
    <strong>Website:</strong>
    <%= @school.website %>
  </p>
  <p>
    <strong>Inst:</strong>
    <%= @school.inst %>
  </p>
  <p>
    <strong>Telegarm:</strong>
    <%= @school.tg %>
  </p>
  <p>
    <strong>Facebook:</strong>
    <%= @school.fb %>
  </p>
</div>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
