<%= form_with(model: post, local: true) do |form| %>
  <%#= react_component 'O_PostForm', {post: @post, categories: @categories} %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post-form">
    <h3 class = " A_H3 A_H3--black">Новая публикация</h3>
    <div class="form-wrapper">
      <div>
        <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
        <div class="input--image">
          <%= form.file_field :image,
          class: 'btn btn--icons',
          style: "opacity: 0"
           %>
        </div>
      </div>

      <div class="form--block">
        <div class="form--item">
          <%= form.label 'Категория', class: 'input--label' %>
          <%= form.select :category_id, Category.pluck(:name, :id),
          class: 'select' %>
          <%= form.hidden_field :post_type_id, value: post.post_type.id ,
          class: 'input'  %>
        </div>

        <div class="form--item">
          <%= form.label 'Автор', class: 'input--label'%>
          <%= form.text_field :author,
          placeholder: 'автор поста',
          class: 'input' %>
        </div>
      </div>

      <div class="form--item form--item--title">
        <%= form.label 'Заголовок', class: 'input--label' %>
        <%= form.text_field :title,
        placeholder: 'Заголовок поста',
        class: 'input'%>
      </div>

      <div class="form--item">
        <%= form.cktext_area :content,
        placeholder: 'Текст про удивительный серфинг',
        class: 'input' %>
      </div>

      <div class="form--block">
        <div class="form--item">
          <%= form.label 'Теги', class: 'input--label'%>
          <%= form.text_field :tagline,
          placeholder: 'Например, #камчатка',
          class: 'input'  %>
        </div>

        <div class="form--item">
          <%= form.label 'Тема для обсуждения', class: 'input--label' %>
          <%= form.text_field :topic,
          placeholder: 'Например, где лучше посерфить?',
          class: 'input' %>
        </div>
      </div>

      <div class="form-submit">
        <%= form.submit 'Создать публикацию' , class: 'btn btn--main'%>
      </div>
    </div>
  </div>
<% end %>
