<div class="post-wrapper">
  <p class="user-name">
    <strong>Имя:</strong>
    <%= @post.name %>
  </p>

  <%# <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
  <!-- <br>
  <%# <%= link_to(image_tag(@post.image.small_thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %> %> --> %>
  <br>
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

  <h3 class="title-post">
    <strong>Заголовок:</strong>
    <%= @post.title %>
  </h3>

  <% if @post.category_id? %>
    <span>
      <%= @post.category.name %>
    </span>
  <% end %>

  <p>
  	<strong>Author:</strong>
  	<%= @post.author %>
  </p>

  <p class="post-body">
    <strong>Пост:</strong>
    <#%= @post.content.html_safe %>
  </p>


  <div class="activity">
      <div class="liking">
        <%= react_component 'A_Likes', { post: @post, likes: @post.likes, current_user_id: current_user.id } %>
      </div>

      <div class="favs">
        <%= react_component 'A_Favorites', { post: @post, favorites: @post.favorites, current_user_id: current_user.id } %>
      </div>
  </div>



  <div class="commenting">
    <h2 class="comments-section">Комментарии</h2>

    <%= render @post.coments %>
    <div class="card my-1">
      <div class="card-body">
        <p class="font-weight-bold">Comments</p>
        <%= form_with(model: [@post, @post.coments.build]) do |f| %>
          <div class="form-group">
            <%= f.label 'New comment' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
            <% if user_signed_in? %>
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% else %>
            <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>





  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>
