<div className="post-view-wrapper">
  <% set_meta_tags title: @post.title, description: @post.category.name %>

  <%= react_component 'O_PostView', {category: @category, post: @post, posts: @posts} %>

  <div class="post-final">
    <div class="post-final-items">
    <% if user_signed_in? %>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

      <div class="activity--inPost">
        <div class="liking">
          <%= react_component 'A_Likes', { post: @post, likes: @post.likes, current_user_id: current_user.id } %>
        </div>

        <div class="favs">
          <%= react_component 'A_Favorites', { post: @post, favorites: @post.favorites, current_user_id: current_user.id } %>
        </div>
      </div>
    <% end %>
      <%= react_component 'M_PostFinal', {post: @post} %>
    </div>
  </div>


<div class="coments-section">

  <div class="pre-comment-info">
    <%= react_component 'A_CommentAmount'%>

    <div class="comments-topic-block">
      <div class="">
        <%= react_component 'A_Avatar', { user: current_user }, class: 'avatar--default-medium' %>
      </div>

      <div class="comments-author-topic">
        <%= react_component 'A_PostAuthor', {post: @post} %>
        <%= react_component 'A_PostTopic', {post: @post} %>
      </div>
    </div>
  </div>
  <div class="post-coments">

    <% if user_signed_in? %>
      <%= render "coments/form" %>
    <% else %>
    <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
    <% end %>

    <div class="show-all-coments">
      <%= render @post.coments %>
    </div>
  </div>
</div>

    <%= react_component 'M_AuthorQuestion' %>
    <%= react_component 'O_PostsEnding', { posts: @posts, post: @post, categories: @categories, category: @category } %>


<div class="final-admin-actions">
  <% if user_signed_in? && current_user.isadmin == true %>
    <td><%= link_to 'Редактировать', edit_post_path(@post), class: 'btn btn--secondary' %></td>
    <td><%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--secondary'  %></td>
  <% end %>
</div>
