
<div className="post-view-wrapper">

  <div className="post-top-block">
    <%= react_component 'A_Category', {category: @category} %>
    <%= react_component 'A_PostDate', {post: @post} %>
  </div>

  <%= react_component 'M_PostView', {category: @category, post: @post} %>

  <div class="post-view-final">
    <% if user_signed_in? %>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

   <div class="post-view-activity">
    <div class="liking">
      <%= react_component 'A_Likes', { post: @post, likes: @post.likes, current_user_id: current_user.id } %>
    </div>

    <div class="favs">
      <%= react_component 'A_Favorites', { post: @post, favorites: @post.favorites, current_user_id: current_user.id } %>
    </div>
   </div>
    <% end %>
    <%= react_component 'M_PostFinal', {post: @post} %>
  </div>


<% if @post.category_id? %>
  <span>
    <%= @post.category.name %>
  </span>
<% end %>


<!-- <p class="">
  <%# if @post.tagline? %>
    <strong>Tags:</strong>
    <%#= render_with_hashtags(@post.tagline) %>
  <%# end %>
</p> -->



<h2 class="comments-section">Комментарии</h2>

<%= render @post.coments %>

<h2 class="add-comment">Добавьте комнентарий:</h2>
<% if user_signed_in? %>
  <%= render "coments/form" %>
<% else %>
  <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
<% end %>
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>




  <table>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
  				<td>
  					 <%= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %>
  				</td>
  				 <td>
  					 <%= post.title %>
  				 </td>
  				 <td>
  					 <%= post.user.username %>
  				</td>
  				<td>
  				<% if post.category_id? %>
  					<span>
  					<%= post.category.name %>
  					</span>
  				<% end %>
  				</td>

          <% if post.tagline? %>
            <td><%= render_with_hashtags(post.tagline) %></td>
          <% end %>

  				<td><%= post.post_type.name %></td>
          <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? '💙' : '💙'%></td>
          <td><%= post.coments.count %> <%= (post.coments.count) == 1 ? ' 💬' : ' 💬'%></td>
          <td><%= link_to '👀', post %></td>

  				<!-- open view to delete and edit btn for admin in blog -->
  				<% if user_signed_in? && current_user.isadmin == true %>
  					<td><%= link_to '🛠', edit_post_path(post) %></td>
  					<td><%= link_to '🗑', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  				<% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
