<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Surface.surf</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
  <% if notice %>
     <p class="notice"><%= notice %></p>
   <% elsif alert %>
     <p class="alert"><%= alert %></p>
  <% end %>

<header class="header-ext">
  <div class="header-ext-inner">
    <div class="header-burger">
      <%= react_component 'A_BurgerMenu'%>
    </div>
  <div class="header">
    <div class="header--left">
        <a href="/postsMain">
          <%= image_tag "logo.svg"%>
        </a>

      <div class="header-links">
        <a href="/posts">Пляж</a>
        <a href="/schoolsMain">Школы</a>
      </div>

        <div class="header--right">
      </div>

    </div>
    <div class="header--right">
      <a class="header--right-search" href="/searchPage">
        <%= image_tag "search_icon.svg"%>
      </a>
      <div class= "admin-actions-menu">
        <div class="header-profile-img">
          <%= image_tag "avatar.svg"%>
        </div>
        <ul class="admin-links">
          <li>
          <% if user_signed_in? && current_user.isadmin == true%>
            <%= link_to "Мастерская", admin_path,
            class: "link link--black" %>
          <% end %>
          </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Профиль', current_user,
            class: "link link--black" %>
          </li>
          <li>
          <%= link_to "О сервисе", admin_path,
          class: "link link--black" %>
          </li>
          <li>
          <%= link_to 'Выйти', destroy_user_session_path,
          class: "link link--black", method: :delete  %>
          </li>

        <% else %>
          <li>
            <%= link_to 'Войти', new_user_session_path,
            class: "link link--black" %>
          </li>
          <li>
            <%= link_to 'Регистрация', new_user_registration_path,
            class: "link link--black" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</header>


  <% if user_signed_in?%>
    <%#= react_component 'O_Header'%>
  <% end %>

    <%= yield %>
    <%= react_component 'O_Footer'%>

  <%= javascript_pack_tag 'user-menu', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
